nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
border: 1px solid black;
width: 150px;
padding: 20px;
margin-bottom: 20px;
background-color: darkblue;
background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
display: inline-block;
}

nav li a {
   color: white;
   text-decoration: none;
   display: block;
   padding: 20px;

}

nav li a:hover {
    background-color: blue;
}